{% extends "_layout.html" %}
{% block content %}
<section class="container text-center">
  <div class="top-info">
    <h1 class="top-info-title sun-flower-text tf2-primary">Festive World: Discord verification</h1>

    <div class="buttons monospace">
      <a href="https://discord.gg/NmKe2n4MvV" target="_blank" class="btn discord-dropshadow white-text">Discord server</a>
      {% if discord or steam %}
        <a href="/logout" class="btn alizarin-dropshadow white-text">Logout</a>
      {% endif %}
    </div>
  </div>

  <div class="flex-grid">
    <div class="col-xs-6 card">
      {% if discord %}
      <section class="me discord-dropshadow">
        <div class="me-background" style="background-image: url('https://cdn.discordapp.com/banners/{{ discord.id }}/{{ discord.banner }}.png?size=512')"></div>
        <div class="me-content">
          <div class="avatar-container">
            <img draggable="false" src="https://cdn.discordapp.com/avatars/{{ discord.id }}/{{ discord.avatar }}.png"
              class="image-title" />
          </div>
          <div class="unset">
            <h1 class="title">{{ discord }}</h1>
            <p class="undertitle">{{ discord.id }}</p>
          </div>
        </div>
      </section>
      {% else %}
      <section class="me discord-dropshadow">
        <h1 class="title tf2-primary">Discord information</h1>
        <p class="undertitle">Login with Discord to see your information</p>
        <a href="/login/discord" class="btn emerald-dropshadow white-text monospace">
          Login with Discord
        </a>
      </section>
      {% endif %}
    </div>

    <div class="col-xs-6">
      {% if steam %}
      <section class="me steam-dropshadow">
        <div class="me-background" style="background-image: url('{{ steam.background }}')"></div>
        <div class="me-content">
          <div class="avatar-container">
            <img draggable="false" src="{{ steam.avatar }}" class="image-title" />
          </div>
          <div class="unset">
            <h1 class="title">{{ steam.name }}</h1>
            <p class="undertitle">
              <a href="https://steamcommunity.com/profiles/{{ steam.commid }}" target="_blank" class="peter-river-text">
                {{ steam.commid }}
              </a>
            </p>
          </div>
        </div>
      </section>
      {% else %}
      <section class="me steam-dropshadow">
        <h1 class="title tf2-primary">Steam information</h1>
        <p class="undertitle">Login with Steam to see your information</p>
        <br>
        <a href="/login/steam">
          <img src="/static/steam_login.png" alt="Steam Login" />
        </a>
      </section>
      {% endif %}
    </div>
  </div>

  {% if verify_data %}
  <div class="verify-submit-container box-container primary-dropshadow card">
    <h1 class="no-margin tf2-primary">Verification already done</h1>
    <p>
      You're already verified and have access to our Discord server. Enjoy your stay 💝
    </p>
  </div>
  {% elif steam and discord %}
  <div class="verify-submit-container box-container primary-dropshadow">
    <h1 class="no-margin tf2-primary">Congratulations 🎉</h1>
    <p>
      You have successfully verified your Discord and Steam account.<br>
      You can now click the button below to submit your information to the Discord server.<br>
      Welcome to Festive World 💝
    </p>
    <a class="btn emerald-dropshadow white-text" href="/finalize">Verify</a>
  </div>
  {% endif %}
</section>
{% endblock %}
